*{
    min-width: max-content;
    background-image: url(./img/한지.jpg);
}
body{
    margin : 0;
}
.header{
    align-items: center;
    width: 90%;
    height : 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header a{
    text-decoration: none;
    color: black;
}
.header ul li { 
    display: inline-block;
    padding: 6px;
}
.header ul li a:hover{
    color:rgb(44, 165, 165);
}
.header h1{
    font-size:40px;
    font-family: "Comic Sans", "Apple Chancery", cursive;
}
.article{
    width: 70%;
    height: 570px;
    background: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding:20px 50px 0px 50px;
}

.footer{
    background:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    text-align: center;
}
.footer img{
    height: 120px;
}