body{
    margin : 0;
}
.body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("https://scontent-ssn1-1.xx.fbcdn.net/v/t1.18169-9/13495222_946498288782318_1719130170011996477_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=LYMDmuoDScUAX_BBR6d&_nc_ht=scontent-ssn1-1.xx&oh=00_AT_etv8p78Wj7m8UeQ6fOX7PN-CL6Mn3rKfVvTu_bUYq9w&oe=6228D3EC");
}

.header{
    align-items: center;
    width: 90%;
    height : 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header a{
    text-decoration: none;
    color: white;
}
.header ul li {
    display: inline-block;
    padding: 6px;
}
.header ul li a:hover{
    color: turquoise;
}
.header h1{
    font-size:40px;
    font-family: "Comic Sans", "Apple Chancery", cursive;
}
.iframe-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
