body{
    margin : 0;
}
.body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(삼김 사장.jpg);
}

.header{
    align-items: center;
    width: 90%;
    height : 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header a{
    text-decoration: none;
    color: white;
}
.header ul li {
    display: inline-block;
    padding: 6px;
}
.header ul li a:hover{
    color: turquoise;
}
.header h1{
    font-size:40px;
    font-family: "Comic Sans", "Apple Chancery", cursive;
}
.iframe-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
