@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.article{
    background-image: url(한지.jpg);
}
fieldset, legend, input{
    background: white;
}
fieldset{
    display: block; margin: 0 auto;
    border-radius: 30px;
    background-color:#CCC;
    text-align: left;
    font-family: 'East Sea Dokdo', cursive;
    font-size: x-large;
    max-width: 350px;
}
fieldset legend{
    border-style: groove;
    font-size: xx-large;
    font-family: 'East Sea Dokdo', cursive;
}
input:focus{
    background:rgb(163, 255, 249);
}
form{
    zoom: 1.3;
    margin-top: 60px;
}
